<div class="memphis-stripe">
  <div class="ms-band ms-band--diag-yellow"></div>
  <div class="ms-band ms-band--dots-coral"></div>
  <div class="ms-band ms-band--check-cyan"></div>
  <div class="ms-band ms-band--diag-orange"></div>
  <div class="ms-band ms-band--dots-purple"></div>
  <div class="ms-band ms-band--check-green"></div>
  <div class="ms-band ms-band--diag-yellow ms-band--reverse"></div>
</div>
